POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

DATABASE_URL=postgresql://user:password@localhost:5432/database?schema=public

PORT=3001
NODE_ENV=development

NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1